@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: "poppins",sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;


}
header{
    background-color:rgb(190, 182, 182);
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 120px;

}
.logo {
    text-decoration: none ;
    color: rgb(17, 62, 160);
    text-transform: none;
    font-weight: 600;
    font-size: 1.8em;
}
.navigation a{
    text-decoration: none ;
    color: rgb(31, 109, 173);
    font-weight: 500;
    font-size: 1.1em;
    padding-left: 30px;
}
.navigation a:hover{
   color: rgb(9, 4, 78);

}
section{
    padding: 100px 200px;
}

.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(images/codespaces.webp)no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.main h2{
    color: white;
    font-size: 1.4em;
    font-weight: 500;
}
.main h2 span{
    color: rgb(68, 38, 238);
    font-size: 2.5em;
    font-weight: 600;
}
.main h3 {
    color: rgb(255, 255, 255);
    font-size: 1.4em;
    font-weight: 500;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.main-btn{
    color: white;
    background-color: rgb(11, 78, 223);
    text-decoration: none;
    font-size: 1.0em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9376em 2.1563em;
    letter-spacing: 0.5px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7 ease;
}

.main-btn:hover {
    background-color: rgb(67, 67, 233);
    transform: scale(1.1);
}
.social-icons a{
    color: #ffffff;
    font-size: 1.7em;
    padding-right: 30px;
}

.title{
    display: flex;
    justify-content: center;
    color: rgb(13, 34, 126);
    font-size: 2.7;
    font-weight: 900;
    margin-bottom: 30px;
}
.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.card{
    background-color: #ffffff;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 /15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}

.card:hover {
    transform: scale(1.1);
}    
.icon {
    color: rgb(17, 17, 202);
    font-size:9em;
    display: flex;
    justify-content: center;
    margin: 50px;
}  

.info {
    text-align: center;
}  

.info h3{
    color: rgb(31, 31, 180);
    font-size: 1.3em;
    font-weight: 800;
    display: flex;
    justify-content: center;
    margin: 10px;
}  
.projects{
    background-color: rgb(33, 28, 34);
 
}  
.projects .contnt{
   margin: 30px;

} 
.projects-card{
    background-color: #ffffff;
    border: 1px solid #ffffff;
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
} 
.projects-card:hover {
    transform: scale(1.1);
} 
.projects-card:hover .projects-image{
    opacity: 0.9;
} 
.projects-image img{
    width: 100%;
} 
.projects-info{
    padding: 1em;
} 
.projects-category{
    font-size: 0.8em;
    color: rgb(0, 0, 0);
} 
.projects-title{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
} 
.more-details{
    text-decoration: none;
    color: rgb(37, 37, 177);
} 
.more-details:hover{
    color: rgb(128, 50, 201);
} 
.footer {
    background-color: rgb(31, 29, 32);
    color: white;
    padding: 1.0em;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}
.footer-title{
   font-size: 1.3em;
   font-weight: 600;
}
.footer-title span{
    color: rgb(48, 48, 190);
    font-size: 1.5em;
    font-weight: 700;
 }
.footer .social-icons a{

    font-size: 1.3em;
    padding: 0 12px 0 0;
    
}
@media (max-width:1023px){

    header{
        padding: 12px 20px; 
    }    
    .navigation a{
        padding-left: 10px;   
    }

    .title{
        display: flex;
        align-content: center;
        padding-left: 1.8em;   
    }

    section{
        padding-left: 80px 20px;   
    }
    .main-content h2{
        font-size: 1.0em; 
    }
    .main-content h3{
        font-size: 1.6em; 
    }
    .content{
        flex-direction: column;
        align-content: center;
    }
    .main{
        padding: 50px;
    }

}
@media(max-width:600px){
    body{
        font-size: 12px;
    }
    .main-content h2{
        font-size: 0.8em;
    }
    .main-content h3{
        font-size: 1.4em;
    }
    .title{
        display: flex;
        align-content: center;
    }

}
@media(max-width:300px){
    body{
        font-size: 9px;
    } 
    .title{
        display: flex;
        align-content: center;
    }

}